<%= form_tag(filter_path, method: :get) do %>
  <div class="row filters">
    <div class="col-12 col-sm-4">
      <%= text_field_tag :search, params[:search], autofocus: true, placeholder: 'Search Url...', maxlength: 100, size: 100, class: "form-control form-control-sm search-field" %>
    </div>
    <div class="col-12 col-sm-4">
      <%= submit_tag "Filter", class: 'btn btn-sm btn-secondary' %>
    </div>
    <div class="col-12 col-sm-4">
      <%= submit_tag "Reset", id: 'reset-filters-btn', type: 'reset', class: 'btn btn-sm btn-outline-secondary' %>
    </div>
  </div>
<% end %>
