.story-form {
  border: 1px solid black;

  .header {
    h4 {
      font-weight: normal;
    }

    #logo {
      max-width: 300px;
    }
  }

  // .chosen-choices {
  //   list-style: none !important;
  // }

  // .chosen-results {
  //   list-style: none !important;
  // }
}
