<div class="container">
  <h2>3-2-1 grid example<p class="lead">3 columns on desktop, 2 columns on tablets, 1 columns on phones</p></h2>
	<div class="row">
	  <div class="col-lg-4 col-sm-6 col-xs-12">
	    <a href="#">
	      <img src="http://placehold.it/800x600" class="thumbnail img-responsive">
	    </a>
	  </div>
	  <div class="col-lg-4 col-sm-6 col-xs-12">
	    <a href="#">
	      <img src="http://placehold.it/800x600" class="thumbnail img-responsive">
	    </a>
	  </div>
	  <div class="col-lg-4 col-sm-6 col-xs-12">
	    <a href="#">
	      <img src="http://placehold.it/800x600" class="thumbnail img-responsive">
	    </a>
	  </div>
	  <div class="col-lg-4 col-sm-6 col-xs-12">
	    <a href="#">
	      <img src="http://placehold.it/800x600" class="thumbnail img-responsive">
	    </a>
	  </div>
	</div>
</div>