<div id="timer" style="font-family: 'Roboto', sans-serif; color: #4A4A4A; float: left; font-size: 14px; margin-left: 15px; margin-top: -2px">
  <% if Code.where("code_key = 'NEXT_STORY_PUB_DATETIME'").present? %>
    <% next_story_pub_datetime = Code.where("code_key = 'NEXT_STORY_PUB_DATETIME'").pluck("updated_at","code_value").first %>
    <% if next_story_pub_datetime[1].present?  %>
      <% time_remaining_until_pub_secs = (next_story_pub_datetime[1].to_time + 60 - Time.now).round  %>
      <% time_remaining_until_pub = Time.at(time_remaining_until_pub_secs).utc.strftime("%H:%M")  %>
      <% time_since_pub_secs = (Time.now - next_story_pub_datetime[0]).round %>
      <% time_since_pub_mins = Time.at(time_since_pub_secs).utc.strftime("%-M") %>
      <% if time_remaining_until_pub_secs > 0 %>
        <% if time_since_pub_secs < 300 %>
          <% if time_since_pub_secs < 60 %>
            Last story released moments ago
          <% else %>
            Last story released <%= pluralize(time_since_pub_mins,'minute') %> ago
          <% end %>
        <% else %>
          <% if time_remaining_until_pub_secs > 59 %>
            New Story in <%= time_remaining_until_pub %>
					<% else %>
						New story in a few moments ...
          <% end %>
        <% end %>
        <!--New story available now – refreshing page-->
        <!--<script type="text/javascript">-->
        <!--window.location.href="/"  // refresh&ndash;&gt;-->
        <!--</script>-->
      <% end %>
    <% end %>
  <% end %>
</div>
