<h3>Welcome</h3>
<pre>Our mission is to provide curated, professionally written
stories as an alternative to user-contributed content about
places to eat, drink, stay and enjoy life.

Stay tuned—Stories About Places is currently in intensive development.</pre>
<% if user_signed_in? %>
  <% if current_user.admin? %>
    <h3>Admin</h3>
    <p><%= link_to 'User count:', users_path %> <%= User.count %></p>
  <% else %>
    <h3>You've signed up. Download a free book.</h3>
    <%= link_to 'Download PDF', products_path('product.pdf'), :class => 'btn btn-success btn-large' %>
  <% end %>
<% else %>
  <h3>Sign up and download a free book.</h3>
  <%= link_to 'Sign up', new_user_registration_path, :class => 'btn btn-primary btn-large' %>
<% end %>

<div style="padding-top: 5px">
    <iframe src="http://getbootstrap.com/customize/#navbar" frameborder="1" width="30%" id="rails_iframe">error!</iframe>
    <!--<iframe width="560" height="315" src="//www.youtube.com/embed/DokUjuZmpCE" frameborder="0" allowfullscreen></iframe>-->
    <!--{:align => "center", :name => "window", :src => "www.google.com", :height => "300px;", :width => "500px;", :style => "float:left;margin-top:30px;"}-->
    <!--{:align => "center", :name => "window", :src => "#{list_make_shipments_path(:ids => "#{@shipment_success_responses.collect(&:id).join(",")}")}", :height => "1000px;", :width => "1100px;", :style => "float:left;margin-top:30px;"}-->
</div>