<div class="container-fluid d-flex justify-content-center align-items-center">
  <%= form_tag(action: :new) do %>
    <div class="jumbotron bg-white new-story">
      <div class="header text-center">
        <h3>Add A New Story</h3>
      </div>

      <hr class="my-4">

      <div class="body">
        <p class="lead text-center">Enter Story Url</p>

        <div class="form-group my-4 max-vw-80 mx-auto">
          <%= text_field_tag(:source_url_pre, nil, autofocus: true, :maxlength => 250, :size => 100, class: "form-control") %>
          <%= hidden_field_tag(:data_entry_begin_time, Time.now) %>
        </div>

        <div class="sign-in-row mt-4 mx-auto text-center">
          <%= submit_tag "Submit", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
