<div class="header">
  <% if story %>
    <h6 class="position-absolute ml-1 border border-dark bg-light p-2">Story ID: <%= story.id %></h6>
  <% end %>
  <h4 class="text-center position-relative"><i class="<%= icon %> mr-1"></i> <%= title %></h4>
</div>
