<div class="container-sm">
  <div class="jumbotron bg-white about-us">
    <div class="header text-center">
      <h4>Contact The Team At</h4>
      <%= image_pack_tag "sap-logo.png", id: "logo", class: "m-auto" %>
    </div>

    <hr class="my-4">

    <div class="body">
      <p class="lead text-center">
        We really do want your feedback about our concept and our execution. Drop us an email.
      </p>
      <p class="text-center">
        <a href="mailto:contactus@storiesaboutplaces.com">
          contactus@storiesaboutplaces.com
        </a>
      </p>
    </div>

    <hr class="my-4">

    <div class="footer text-center">
      Curious about who we are and what we do? <strong><%= link_to "Learn more!", about_us_path %></strong>
    </div>
  </div>
</div>
