<div class="container-fluid" id="main-content">
  <%= render partial: 'filters', locals: { filter_path: home_index_path } %>

  <div class="grid story-grid">
    <div class="grid-sizer"></div>
    <div class="gutter-sizer"></div>
    <% if @published_items.present? %>
      <% @published_items.each do |published_item| %>
        <% if published_item.publishable.type.in?(['MediaStory', 'VideoStory']) %>
          <%= render partial: 'shared/video_and_media_story_card', locals: { story: published_item.publishable, card_id: published_item.id } %>
        <% else %>
          <%= render partial: 'shared/custom_stories/card', locals: { story: published_item.publishable, card_id: published_item.id } %>
        <% end %>
      <% end %>
    <% else %>
      <p class="no-stories-text">No Stories Found</p>
    <% end %>
  </div>
</div>
