<div class="panel panel-default">
  <div class="panel-body">
	  <div class="container">

			<h3>We connect you to the stories about places</h3>

			<p>Do you love reading stories about unique and interesting places? The media loves writing stories about them, as you can find them in hundreds of media sources.</p>

			<p>But you probably don’t have time every day to visit hundreds of websites to find stories about unique and interesting places, and that means you’re missing out, including missing out on stories about places nearby.</p>

			<p>We curate stories from hundreds of media sources and make them easier to find. We’re still new, so our own story is not yet fully written, but we hope you enjoy what we’re doing, and if so please tell others to check us out too.</p>

			<p>New stories are added throughout the day, and there are lots more features and improvements we plan on adding. So don’t forget to keep checking back to see what’s new!</p>

			<p>Thank you - the Stories About Places team</p>

	  </div>
  </div>
</div>