<div class="container">
  <%= form_for(@published_item, url: admin_published_item_path(@published_item), method: :patch) do |f| %>
    <div class="jumbotron bg-white admin-form">
      <div class="header text-center">
        <h4><i class="fas fa-tasks mr-1"></i> Edit Published Item</h4>
      </div>

      <hr class="my-4">

      <div class="body">
        <div class="form-group my-4 max-vw-80 mx-auto">
          <%= f.label :clear_at %><br>
          <%= f.datetime_field :clear_at, class: "form-control" %>
        </div>

        <hr class="my-4">

        <div class="actions">
          <%= f.submit "Save", class: 'btn btn-md btn-primary text-center w-100' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
