<%= form_tag( :action => "url_in" ) do %>
    <div>
      <br><br><br><%= text_field_tag(:source_url, nil, :placeholder => "Enter source URL ...", size:50) %>
      <br>
    </div>
    <div>
      <%= submit_tag "Process URL" %>
      <br>
    </div>

<% end %>