// site-wide stylings/overwrites
.input-group {
  z-index: 0;
}

#error_explanation {
  h2 {
    font-size: 1rem;
    color: red;
    text-align: center;
  }
}

//Hides Arrows From Input Number 
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#map {
  height: 400px;
}