.image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-play-icon {
  position: absolute;
  color: white;
  max-width: 22% !important;
  text-shadow: 0 0 3px #000;
  pointer-events: none;
}

.video-play-icon:hover {
  cursor: pointer;
}
