#wrapper {
  overflow-x: hidden;
}

#sap-logo {
  max-width: 240px;
}

#wrapper.sb-closed {
  #page-content-wrapper {
    max-width: 100%;
    margin-left: 0;
  }

  #sidebar-wrapper {
    margin-left: -15rem;
  }
}

#page-content-wrapper {
  height: 100%;
  z-index: -1;
  margin-left: 0rem;
  margin-top: 4.4rem;

  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#main-content {
  height: 100vh;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 1;
  justify-content: flex-start;
  box-shadow: 0px 5px 7px -4px rgba(0, 0, 0, 0.2);

  .navbar-toggler {
    border: none;
  }
}

#sidebar-wrapper {
  margin-top: 3.28rem;
  z-index: 1;
  position: fixed;
  min-height: 100vh;
  margin-left: 0;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;

  .sidebar {
    box-shadow: 7px 0 10px -8px rgba(0, 0, 0, 0.2);

    .list-group-item:hover {
      color: black;
    }
  }

  .list-group {
    width: 15rem;
    height: 100vh;
  }
}

.list-group-flush > .list-group-item:last-child {
  border-bottom-width: 1px;
}

// DESKTOP STYLES ABOVE 1000px
@media (min-width: 1000px) {
  #page-content-wrapper {
    z-index: none;
    margin-left: 15rem;
    margin-top: 4.7rem;
  }

  #sidebar-wrapper {
    z-index: none;
    margin-left: 0;
  }

  #wrapper.sb-closed {
    #sidebar-wrapper {
      margin-left: -15rem;
    }
  }
}
// DESKTOP STYLES BELOW 1000px
@media (max-width: 999px) {
  #wrapper {
    // remove clicking on page when sidebar is sb-closed
    #main-content {
      pointer-events: none;
    }
  }

  #wrapper.sb-closed {
    #main-content {
      pointer-events: auto;
    }
  }
}

// DESKTOP STYLES BELOW 1000px
@media (max-width: 445px) {
  #admin-text {
    font-size: 0.5rem;
  }
}

// Mobile Styles
@media (max-width: 375px) {
  #sap-logo {
    max-width: 158px;
  }

  #sidebar-wrapper {
    margin-top: 3rem;
  }
}
