// grid
.grid {
  max-width: 100%;
  margin: 1rem auto;
}

// clearfix
.grid:after {
  content: '';
  display: block;
  clear: both;
}

// grid-item/sizer
.grid-sizer,
.grid-item {
  width: 32%;
}
// grid-gutter
.gutter-sizer {
  width: 2%;
}

.grid-item {
  border: 2px solid #333;
}

.grid-item--width2 { width: 40%; }
.grid-item--width3 { width: 60%; }

.grid-item--height2 { height: 200px; }
.grid-item--height3 { height: 260px; }
.grid-item--height4 { height: 360px; }

.grid-item--gigante {
  width: 320px;
  height: 360px;
  z-index: 2; /* above other items */
}


@media screen and (max-width: 768px) {
  .grid-item {
      width: 50% !important;
      float: left !important;
      transform: unset !important;
      position: initial !important;
      display: block!important;
      padding: 5px!important;
      box-sizing: border-box;
  }

  .grid-item img {
      width: 100% !important;
  }

  .grid-item-wrapper {
      height: auto !important;
  }
}

@media screen and (max-width: 500px) {
  .grid-item {
      width: 100% !important;
      float: left !important;
      transform: unset !important;
      position: initial !important;
      display: block!important;
      padding: 5px!important;
      box-sizing: border-box;
  }

  .grid-item img {
      width: 100% !important;
  }

  .grid-item-wrapper {
      height: auto !important;
  }
}
