  <div class="jumbotron bg-white admin-form">
    <div class="header text-center">
      <h4><i class="fas fa-map-marker-alt mr-1"></i> Edit Category</h4>
    </div>

    <hr class="my-4">

    <div class="body">
      <%= render 'form', category: @category %>
    </div>

</div>