/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require social-share-button
 */

@import "bootstrap-sprockets";
@import "bootstrap";

/* override bootstrap header */
.navbar-custom {
  background-color:#000000;
  color:#ffffff;
}

.navbar-sap .nav > li > a:focus,
.navbar-sap .nav > li > a:hover {
  color: white;  /* change the hover font color */
  text-decoration: none;
  background-color: #3D3D3D;  /* change the hover background color */
}

a {
  color: inherit;  /* allows font-color to override bootstrap */
  background-color: inherit;
}

a:visited {
  color: #000000;  /* allows font-color to override bootstrap */
  background-color: inherit;
}

a:hover {
  background-color: #fff;
  color: #3366FF;
  text-decoration: none;
}

  /* make all images responsive */
  img {
    display: block;
    height: auto;
    max-width: 100%;
  }

/* style the header */
.container-fluid {
  max-width: 1600px; /* or 950px */
}

.row{
  overflow: hidden;
}

//[class*="col-"]{     // breaks hover popup; doesn't seemed to be missed
//  margin-bottom: -99999px;
//  padding-bottom: 99999px;
//}

/* centered columns styles */       // breaks hover popup; doesn't seemed to be missed
//.row-centered {
//  text-align:center;
//}

.col-centered {
  display:inline-block;
  float:none;
  /* reset the text-align */
  text-align:left;
  /* inline-block space fix */
  margin-right:-4px;
}

.bottom-align { display: table-cell; vertical-align: bottom; float: none; }

//mobile
@media (max-width: 768px) {
  .btn-responsive {
    padding: 1px 8px;
    font-size: 130%;
    line-height: 1.8;
    border-radius: 3px;
  }
  .select-dropdown-hdr {
    padding-bottom: 10px;
    padding-left: 0px;
    font-size: 150%;
    line-height: 1.0;
  }
  .editor-pick {
    visibility: hidden;
    font-size: 6px;
    line-height: .1;
  }
  .timer-display {
    font-family: 'Roboto', sans-serif;
    color: #4A4A4A;
    float: left;
    font-size: 1.0em;
    padding-top: 15px;
    padding-left: 20px;
  }
}

//table and desktop
@media (min-width: 769px) {
  .timer-display {
    font-family: 'Roboto', sans-serif;
    color: #4A4A4A;
    float: left;
    font-size: 1.2em;
    padding-top: 7px;
    padding-left: 15px;
  }
  .select-dropdown-hdr {
    padding-top:9px;
    padding-left:4px;
    font-size:120%;
    line-height: 1.0;
  }
  .editor-pick {
    margin-top: 11px;
    font-size: 14px;
    font-size: .8em;
    color: darkgrey;
    white-space: nowrap;
  }
  .btn-responsive {
    padding:6px 12px;
    margin-top: 6px;
    margin-right: 15px;
    font-size:110%;
    line-height: 1.0;
  }
}

//tablet
//@media (min-width: 769px) and (max-width: 992px) {
//  .btn-responsive {
//    padding:4px 9px;
//    font-size:60%;
//    line-height: 1.0;
//  }
//}

//desktop
//@media (min-width: 993px) {
//  .btn-responsive {
//    padding:4px 9px;
//    font-size:60%;
//    line-height: 1.0;
//  }
//}


