// Place all the styles related to the Stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.table-responsive{
  width:100%;
}

.twitter-share-button {
  display: flex;
  display:inline-block;
  justify-content:center;
  position: relative;
  margin-left: 40%;
}

.story-text-block {
  padding-bottom: 100px;
}
