// Place all the styles related to the Stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.table-responsive{
  width:100%;
}

.twitter-share-button {
  display:inline-block;
  //float:middle;
  position: relative;
  margin-left: 40%;
  //margin-bottom: 2px;
  //text-align: center;
}

.story-text-block {
  padding-bottom: 100px;
}
