<div class="d-flex justify-start">
  <%= f.submit "Save & Exit", class: "btn btn-sm btn-success mr-4" %>
  <%= f.submit "Save & New", class: "btn btn-sm btn-success mr-4" %>
  <%= f.submit "Next", class: "btn btn-sm btn-primary mr-4" %>
  <br>
</div>
