<!-- Bottom navbar -->
<div class="navbar navbar-default navbar-bottom">
  <div class="container">
    <div class="navbar-collapse collapse bottom-collapse"> <!-- NOTE! The extra bottom-collapse class put on here -->
      <ul class="nav navbar-nav navbar-right">
        <li><a href="../navbar/">Contact Us</a></li>
        <li><%= link_to 'About Us', page_path('about') %></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>