<!-- Bottom navbar -->
<div class="navbar navbar-default navbar-bottom" style="padding-left: 10px">
  <div class="container-fluid">
    <div class="navbar-collapse collapse bottom-collapse"> <!-- NOTE! The extra bottom-collapse class put on here -->
      <ul class="nav navbar-nav navbar-right">
        <li style="padding-top: 5.5%"><%= social_share_button_tag("Stories about Places") %></li>
        <li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
        <li><%= link_to 'Blog', 'http://blog.storiesaboutplaces.com', :target => "_blank" %></li>
        <li><%= link_to 'Contact Us', page_path('contact') %></li>
        <li><%= link_to 'About Us', page_path('about') %></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>