<div class="bg-white" id="sidebar-wrapper">
  <div class="sidebar list-group list-group-flush border-right">
    <%= link_to admin_stories_path, class: "list-group-item list-group-item-action bg-white" do %>
      <i class="fas fa-book mr-1"></i> Stories
    <% end %>
    <%= link_to admin_urls_path, class: "list-group-item list-group-item-action bg-white" do %>
      <i class="fas fa-link mr-1"></i> Urls
    <% end %>
    <%= link_to admin_images_path, class: "list-group-item list-group-item-action bg-white" do %>
      <i class="fas fa-images mr-1"></i> Images
    <% end %>
    <%= link_to admin_codes_path, class: "list-group-item list-group-item-action bg-white" do %>
      <i class="fas fa-cogs mr-1"></i> Codes
    <% end %>
  </div>
</div>
