<div class="bg-white" id="sidebar-wrapper">
  <div class="sidebar list-group list-group-flush border-right">
    <a href="#" class="list-group-item list-group-item-action bg-white">Dashboard</a>
    <a href="#" class="list-group-item list-group-item-action bg-white">Shortcuts</a>
    <a href="#" class="list-group-item list-group-item-action bg-white">Overview</a>
    <a href="#" class="list-group-item list-group-item-action bg-white">Events</a>
    <a href="#" class="list-group-item list-group-item-action bg-white">Profile</a>
    <a href="#" class="list-group-item list-group-item-action bg-white">Status</a>
  </div>
</div>
