<div class="bg-white" id="sidebar-wrapper">
  <div class="sidebar list-group list-group-flush border-right">
    <%= nav_item_link(root_path, 'Top Stories', 'fa-home') %>
    <%= nav_item_link(my_stories_path, 'My Stories', 'fa-list', disabled: true) %>
    <%= nav_item_link(about_us_path, 'About Us', 'fa-address-card') %>
    <%= nav_item_link(contact_us_path, 'Contact Us', 'fa-envelope') %>
  </div>
</div>
