<nav class="navbar navbar-light bg-white border-bottom">
  <button class="btn navbar-toggler mr-1" id="menu-toggle">
    <i class="fas fa-bars"></i>
  </button>

  <div class="logo-wrapper">
    <%= link_to image_pack_tag("sap-logo.png", id: "sap-logo"), root_path %>
  </div>

  <div class="btn-group dropdown ml-auto">
    <button type="button" class="btn navbar-toggler" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-user"></i>
    </button>

    <div class="dropdown-menu dropdown-menu-right">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Logout</a>
    </div>
  </div>
</nav>
